extends ../../../node_modules/@scsa/styling/src/server/views/main.pug

block top
    sales-search(
        src=APPLICATIONS.Sales.options.url
        title=APPLICATIONS.Sales.options.text
        data-endpoint=APPLICATIONS.Sales.options.text
        class="Socket Socket--fullBleed"
    )
    script(defer type='text/javascript' src=APPLICATIONS.Sales.options.url + 'api/fragments/webcomponent.js')

block left
    catalogue-stock(
        src=APPLICATIONS.Catalogue.options.url
        title=APPLICATIONS.Catalogue.options.text
        data-endpoint=APPLICATIONS.Catalogue.options.text
        class="Socket Socket--fullBleed"
    )
    script(defer type='text/javascript' src=APPLICATIONS.Catalogue.options.url + 'api/fragments/webcomponent.js')

block right
    checkout-basket(
        src=APPLICATIONS.Checkout.options.url
        title=APPLICATIONS.Checkout.options.text
        data-endpoint=APPLICATIONS.Checkout.options.text
        class="Socket Socket--fullBleed"
    )
    script(defer type='text/javascript' src=APPLICATIONS.Checkout.options.url + 'api/fragments/webcomponent.js')
